name: Build Extension

on:
  pull_request:
    # Run for PRs targeting branches other than `main` (package handles PRs to main)
    branches-ignore:
      - main
    paths:
      - "browser-extension/**"
      - ".github/workflows/build.extension.yml"
  workflow_call:
    inputs:
      version:
        description: "Version to build"
        required: false
        type: string
  
env:
  VERSION: ${{ inputs.version || '0.0.0' }}

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./browser-extension

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: browser-extension/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Change version
        if: ${{ env.VERSION != '0.0.0' }}
        run: npm version ${{ env.VERSION }} --no-git-tag-version

      - name: Check formatting
        run: npm run format:check

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-artifact
          path: browser-extension/build
