name: Build Mobile App

on:
  pull_request:
    paths:
      - "mobile-app/**"
      - "shared/**"
      - ".github/workflows/build.mobile.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Check formatting
        working-directory: ./mobile-app
        run: npm run format:check

      - name: Lint
        working-directory: ./mobile-app
        run: npm run lint

      - name: Typecheck
        working-directory: ./mobile-app
        run: npx tsc --noEmit
