name: Release Extension

on:
  push:
    tags:
      - 'v*'
    branches:
      - main
    paths:
      - "browser-extension/**"
      - ".github/workflows/release.extension.yml"

jobs:
  versioning:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Determine Version
        id: version
        uses: ./.github/actions/determine-version

  package:
    needs: versioning
    uses: ./.github/workflows/package.extension.yml
    with:
      version: ${{ needs.versioning.outputs.version }}

  release:
    needs: [versioning, package]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: extension-${{ needs.versioning.outputs.version }}
          path: dist

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ needs.versioning.outputs.version }}
          name: v${{ needs.versioning.outputs.version }}
          files: dist/**/*.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to Web Store
        uses: PlasmoHQ/bpp@v3
        with:
          keys: ${{ secrets.SUBMIT_KEYS }}
          artifact: dist/**/*.zip
